{% extends 'modelo.html' %}

{% load static %}

{% block content %}
    <h1 class="mt-5 p-5">Todos os Feriados</h1>

    <table class="table table-striped mt-5 p-5">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome do Feriado</th>
                <th scope="col">Dia</th>
                <th scope="col">Mês</th>
            </tr>
            {% for value in List %}
            <tbody>
                <tr>
                    <th scope="row">{{value.id}}</th>
                    <th scope="row">{{value.nome_feriado}}</th>
                    <th scope="row">{{value.dia}}</th>
                    <th scope="row">{{value.mes}}</th>
                </tr>
            </tbody>
            {% endfor %}
        </thead>

    </table>

{% endblock %}