{% extends 'modelo.html' %}

{% load static %}

{% block content %}
    <form method="get" class="mt-5 p-5">
        <input type="text" class="form-control" placeholder="Nome do Feriado" name="nome" id="nome">
        <input type="number" nim=1 max=31 class="form-control mt-3" placeholder="Dia do Feriado" name="dia" id="dia">
        <input type="number" nim=1 max=12 class="form-control mt-3" placeholder="Mês do Feriado" name="mes" id="mes">

        <div class="input-group-prepend mt-3">
            <button class="btn btn-outline-secondary" type="submit" id="search">Buscar</button>
        </div>

    </form>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome do Feriado</th>
                <th scope="col">Dia</th>
                <th scope="col">Mês</th>
            </tr>
            {% for value in List %}
            <tbody>
                <tr>
                    <th scope="row">{{value.id}}</th>
                    <th scope="row">{{value.nome_feriado}}</th>
                    <th scope="row">{{value.dia}}</th>
                    <th scope="row">{{value.mes}}</th>
                </tr>
            </tbody>
            {% endfor %}
        </thead>

    </table>
{% endblock %}